<div class="row">
    <div class="six columns">
        <form class="login-form">
            <label for="email-login">Email:</label>
            <input class="u-full-width" type="email" id="email-login" placeholder="email@example.com">
            <label for="password-login">Password:</label>
            <input class="u-full-width" type="password" id="password-login">
            <button class="button button-primary" type="submit" value="Submit">Log In</button>
        </form>
    </div>
    <div class="six columns">
        <form class="signup-form">
            <label for="username-signup">Username:</label>
            <input class="u-full-width" type='text' id="username-signup">
            <label for="email=signup">Email:</label>
            <input class="u-full-width" type="email" id="email-signup">
            <label for="password-signup">Password:</label>
            <input class="u-full-width" type="password" id="password-signup">
            <button class="button button-primary" type="submit" value="Submit">Create Account</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>