<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDev Blog</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <header>
            <h1>
                <a href="/" id="titleEl">WebDev Blog</a>
            </h1>
            <nav class="u-full-width" id="navigation">
                {{#if logged_in}}
                <button class="button button-primary" href="/dashboard" id="dashButton">Dashboard</a>
                <button class="logout button" id="logout">Log Out</button>
                {{else}}
                <a href="/login" class="button button-primary">Log In/Sign Up</a>
                {{/if}}
            </nav>
        </header>
        <div class="container">
            {{{ body }}}
        </div>
        <footer>

        </footer>
    </div>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    <script src="/js/main.js"></script>
    {{/if}}
</body>
</html>